<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Dellproject">

 <listeners>
 <listener class-name="Utility.ExtentReporting"/>
 </listeners>




<test name="myfunrniture test">
<parameter name="browser" value="chrome"/>
<classes>
<class name="testWorkflow.Loginpage"/>

</classes>

</test>



</suite>